.main {
  padding: 150px 50px 30px 50px;
}

.container {
  width: 600px;
  margin-bottom: 30px;
}

.currentSeason {
  display: flex;
  justify-content: end;
}

.title {
  margin: 10px 0;
  text-align: center;
  font-size: 32px;
  letter-spacing: 2.5px;
  word-spacing: 10px;
}

p {
  margin-top: 0;
}

.description {
  letter-spacing: 1.1px;
  font-size: 20px;
  margin-bottom: 20px;
}

.button {
  display: block;
  width: 220px;
  height: 40px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgba(25, 118, 210, 0.4);
  text-align: center;
  font-size: 22px;
  line-height: 40px;
  text-decoration: none;
  color: white;
}

@media (max-width: 1440px) {
  .container {
    width: 400px;
  }

  .description {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .container {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 288px;
  }
}