.commonInfo {
  grid-area: C;
  padding-left: 50px;
  text-align: left;
}

.commonInfo h2 {
  width: 100%;
}

@media (max-width: 768px) {
  .commonInfo {
    padding-left: 30px;
  }
}

@media (max-width: 600px) {
  .commonInfo {
    padding-left: 10px;
  }
}

@media (max-width: 425px) {
  .commonInfo {
    padding-left: 5px;
  }
}