.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.teamTitle {
  margin-bottom: 0;
  line-height: 1.1em;
  text-align: right;
}

.playerInfo {
  text-align: left;
}

.playerInfo div {
  margin-bottom: 10px;
}

.position {
  margin-bottom: 5px;
  font-size: 14px;
  text-align: right;
}

.stats {
  width: 100%;
}

.statsTable {
  width: 100%;
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid #1976d2;
}

td {
  border: 1px dashed #1976d2;
}